body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #374785;
  color: #bebdbe;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-decoration: underline;
  
}

h3{
  text-align: center;
}

.App{
  min-height: 100vh;
}
.Search__component{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Search__component h1{
  text-align: center;
}
.Search__component svg{
  max-width: 300px;
}

img{
  max-width: 60%;
}
.avatar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

main{
  margin: 20px;
}

.avatar p{
  text-align: center;
}
.avatar__box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar{
  animation: fadein  3s;
}

.avatar__box__description p{
    border-bottom: 1px solid rgba(113, 158, 206, 1);
    padding-bottom: .8rem;
}

.avatar__box img:hover{
    -webkit-box-shadow: 3px 8px 46px 26px rgba(113, 158, 206, 1);
    -moz-box-shadow: 3px 8px 46px 26px rgba(113, 158, 206, 1);
    box-shadow: 3px 8px 46px 26px rgba(113, 158, 206, 1);
    cursor: pointer;
}

input{
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: none;
}
input:focus { 
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
  outline:#719ECE ;
}
footer{
  text-align: center;
  animation: fadein  3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media screen and (min-width:545px){
  .avatar{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .avatar__box{
    width: 50%;
  }
}

@media screen and (min-width:800px){
  .avatar{
    flex-direction: row;
    max-width: 800px;
  }
  .avatar__box img{
    max-width: 300px;
  }
  main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .avatar__box__description{
    margin-left: 5rem;
  }
}
